.cabecalho{
    display: flex;
    justify-content: space-between;
}

.cabecalho__menu{
    display: inline-block;
    background-image: url("../img/Menu.svg");
    width: 24px;
    height: 24px;
}

.conteiner{
    display: flex;
    justify-content: space-between;
}